<body>
  <div class="container" >
    <div class="row" id="inicio">
      <div class="col-md-6">
        <img  class='logo' src="https://i.imgur.com/tKrtPyu.png" alt="Logo EducAção">
      </div>
    </div>

    <hr>

    <div class="row mb-5 mt-5 ">
      <div class="voltar">
        <a class="text-white" routerLink='/start'>
          <i class="fa fa-chevron-left mr-1" ></i> Voltar
        </a>
      </div>
      <div class="col-md-12 mb-5">
        <h1 class="text-center title-inicial">Sobre nós</h1>
      </div>
    </div>

    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>


    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>

    <div class="row  mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img class="fotos"  src="https://i.imgur.com/7Z094WS.jpg" >
            </div>
            <div class="row flip-box-back ">
              <a href="https://www.linkedin.com/in/ed-castro360/" target="_blank" class="icone mr-3">
                <img  width="30px" height="30px" src="https://i.imgur.com/pJ2QVXq.png">
              </a>
              <a href="https://github.com/edcastro360" target="_blank" class="icone ml-1" >
                <img  width="30px" height="30px" src="https://i.imgur.com/aH6XgEL.png">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <h1 class="text-center font-nome">Edmar Castro</h1>
        <p>
          Desenvolvedor Java cursando o 4° semestre de Tecnologia da Informação com experiência no desenvolvimento de projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos me faz sempre querer estar atualizado e esta criando novas tecnologia.
          </p>
      </div>
    </div>



    <div class="row mt-5 d-flex justify-content-center">
      <div class="subir mb-5 ">
        <a class="text-white html" href="#inicio">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>


</body>

<footer>
  <div class="row w-100 ">
    <div class="col-md-12">
      <p class="text-center">
        Todos os direitos reservados: EducAção&copy;
      </p>
    </div>
  </div>

</footer>




